.container {
    max-width: 1300px;
    padding: 0 0;
    margin: 0 auto;
    overflow: auto;
}

.wrapper {
    width: 100%;
}
.top-box {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: #555555 dashed 2px;
}

.box {
    width: 50%;
}

.column {
    float: left;
    width: 33.33%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.mid-section {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: #555555 dashed 2px;
}

.form-label {
    margin-bottom: 15px;
}

.form__field {
    margin-bottom: 5px;
    font-family: inherit;
    width: 80%;
    border: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #9b9b9b;
    padding: 3px 0;
    background: #fff;
    border-radius: 5px;
}

.info-table {
    padding-top: 50px;
}

html,body,form {
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body {

    background-color:#f7f7f7;
    font-family:Helvetica,Arial,sans-serif;
    color:#555;
    font-weight:200;
}

.right-side, .left-side {

}

.right-side {
    display: flex;
    align-items: start;
    justify-content: flex-start;
}

.left-side {
    display: flex;
    align-items: start;
    justify-content: flex-end;
}

.top-box {

}


.wrapper .left-side .labels, .wrapper .right-side .labels {

    width: 125px;
    height: auto;
}

.wrapper .left-side .inputs, .wrapper .right-side .inputs {
    width: 525px;
    height: auto;

}

.mid-section-labels {
    width: 150px;
}

.mid-section-inputs {
    width: 280px;
}
