<template>
  <require from="./header.css"></require>
  <div class="navbar-wrapper">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a href="" class="navbar-brand "><h2>RPM</h2></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/ostuarve-vaade" class="nav-link">Ostuarve vaade (Laheb umbertegemisele)</a></li>
            <li class="nav-item"><a href="/ostuarve-sisestamine" class="nav-link">Ostuarve Sisestamine (Laheb umbertegemisele)</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</template>
